<% if @order_items.any? %>
  <% @order_items.each do |item| %>
    <p><%= item.product.name %> | <%= link_to "Delete", order_item_path(item), :data => {:confirm => "You sure?", :method => "delete"} %></p>
    <p> Unit Price: <%= number_to_currency item.product.price %> | Quantity: <%= item.quantity %>

      <%= form_for item, remote: true do |f| %>
        <%= f.hidden_field :product_id, value: item.product.id %>
        <% options = options_for_select(1..10, item.quantity) %>
        <%= select_tag :quantity, options %>
        <%= f.submit "Update Quantity" %>
      <% end %>


       | Total Price: <%= number_to_currency (item.product.price * item.quantity) %></p>
  <% end %>
  <p>Your Total: <%= number_to_currency current_order.total_price %></p>

  <!-- <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= (current_order.total_price) * 100 %>"
          data-locale="auto"></script> -->

<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>
