<% @products.each do |product| %>
 <p><%= product.name %> | <%= number_to_currency product.price %>
    | <button class="btn btn-dark" id="detailButton">See Details</button><br>
   <span id="<%= product.id %>" onclick="this.style."> <%= product.details %> </span>
 <%= form_for @order_item, remote: true do |f| %>
   <%= f.hidden_field :product_id, value: product.id %>
   <%= f.number_field :quantity %>
   <%= f.submit "Add to cart" %>
 <% end %></p>
<% end %>

<p><%= link_to "Add a product", new_product_path, id: "new_product_link", class: "btn btn-default", remote: true %></p>
